#build files
*.obj
*.o
*.exe
*.pdb
*.ilk
*.res
*.spv
*.amd.src

#build directories
build/
bin/

#asset related stuff
assets/
assets_build/
tools/

#exclude dll files from libraries
!libs/*/bin/

#scons related files
powershell.exe
.sconsign.dblite
